.idea
**/__pycache__
**/.mypy_cache
*.pq
data-prep/data_fixed
**/*.egg-info

# FE code
node_modules

# Editors
.vscode/
.idea/

# OS files
.DS_Store
.DS_Store?

src/static/bundle.js
src/static/bundle.js.map
out/