/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #ef6c00;
}

/* Custom default button */
/*.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}*/

/*
 * Base structure
 */
html,
body {
  font-family: "DM Sans", sans-serif;
  background-color: #222028;
  height: 100%;
  color: white; /*#a9a9ac*/
}

body {
  font-size: 0.9rem;
}

hr {
  border-color: #323232;
}

h1 {
  font-size: 1em;
  color: #fff;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
.title {
  text-transform: uppercase;
  color: white;
}

.title {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 81px !important;
}
.title-form {
  color: white;
  padding-bottom: 18px;
  font-size: 32px;
}

.title,
.title-form {
  font-weight: normal;
  line-height: 35px;
  text-transform: none;
}

.fill {
  height: 100%;
}

/*
 * Header
 */
header {
  border-bottom: 1px solid #32303a;
}

header h1 {
  margin: 0;
}

header h1:before {
  display: block;
  content: "";
  width: 4rem;
  padding: 2px;
  border-top: 2px solid #fff;
}

.nav-masthead .nav-link {
  padding: 1.5em 1.5em 1em;
  font-weight: 700;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #aaa;
  border-bottom-color: #aaa;
}

.nav-masthead .nav-link.active:hover,
.nav-masthead .nav-link.active:focus {
  color: #aaa;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul {
  margin: 0;
}

.navbar {
  padding-left: 32px;
  padding-right: 32px;
}

.central-column {
  max-width: 1200px;
  width: 100vw;
  padding: 64px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.region-selector {
  width: inherit !important;
}

.region-dropdown .dropdown-label {
  font-size: 48px;
  font-weight: 600;
  text-transform: none;
}

.region-dropdown {
  padding-left: 24px;
  padding-right: 24px;
}

.dropdown-caret-styling:after {
  margin-left: 16px;
  vertical-align: 0.4em;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-infections {
  display: block;
  font-size: 24px;
  font-weight: 600;
}

.infections-estimated {
  color: #d93333;
}

span.infections-confirmed {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.active-infections-block {
  margin-left: 32px;
}

.number-subheader {
  position: relative;
  display: block;
  margin-bottom: -4px;
  font-weight: 300;
  font-size: 14px;
}

.population-block {
  margin-left: 32px;
  /* justify-self: end; */
}

.infections-population {
  font-size: 24px;
}

.question-tooltip {
  font-size: 12px;
  vertical-align: text-top;
  text-align: center;
  width: 18px;
  height: 18px;
  fill: white;
}

.tooltip-inner {
  max-width: 350px;
  /* If max-width does not work, try using width instead */
  width: 350px;
}

.mitigation-strength-button {
  display: flex;
  align-items: center;
}

.mitigation-strength-button .active {
  border-left: 3px solid white !important;
}

.mitigation-strength-button btn {
  background-color: transparent;
}

.mitigation-strength-button .btn-secondary {
  background-color: transparent !important;
  color: white !important;
  border: none;
  text-align: left;
  border-left: 3px solid transparent;
  font-size: 14px;
}

.map-footnote {
  font-size: 11px;
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border: none;
  text-align: center;
  border-left: 5px solid transparent;
  margin-top: 12px;
}

.mitigation-strength-explanation.footnote {
  font-size: 11px;
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.6) !important;
  border: none;
  text-align: left;
  border-left: 5px solid transparent;
  padding: 11px 20px;
}

.mitigation-strength-explanation {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 8px;
}

.active .mitigation-strength-explanation {
  color: rgba(255, 255, 255, 0.9);
}

.mitigation-strength-buttons {
  width: 400px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mitigation-strength-heading {
  font-size: 24px;
}

.graph-column {
  width: 100%;
}

.projections-row {
  display: flex;
  justify-content: space-between;
}

.total-infected-number,
.sim-infected-number {
  font-size: 24px;
  color: #ef6c00;
}

.sim-infected-subheader {
  text-align: right;
}

.model-explanation {
  font-size: 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

.pro-bono-banner {
  font-size: 20px;
  padding: 16px;
  margin-bottom: 32px;
  border: 1px solid white;
}

.pro-bono-banner p:last-child {
  margin-bottom: 0px;
}

.alert-dismissible .close {
  padding: 0.25rem 0.5rem;
}

@media only screen and (max-width: 991px) {
  .central-column {
    padding: 24px;
  }
  .top-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .region-selector {
    width: 100% !important;
  }
  .active-infections-block {
    margin-top: 16px;
    margin-left: 0px;
  }
  .population-block {
    margin-top: 16px;
    margin-left: 0px;
  }
  .mitigation-strength {
    flex-direction: column;
  }
  .mitigation-strength-buttons {
    flex-direction: row;
    width: 100%;
    border: none;
  }
  .mitigation-strength-explanation {
    display: none;
  }
  .mitigation-strength-button {
    width: 25%;
  }
  .mitigation-strength-button .btn-secondary {
    width: 100%;
    text-align: center;
  }
  .mitigation-strength-button .active {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.9) !important;
    font-weight: 600;
  }
}

@media only screen and (max-width: 767px) {
  .projections-row {
    flex-direction: column;
  }
  .sim-infected-subheader {
    text-align: left;
  }
  .region-dropdown .dropdown-label {
    font-size: 28px;
  }
  .dropdown-caret-styling:after {
    vertical-align: 0.2em;
  }
}

.main {
  margin: 20px auto;
  padding-bottom: 5em;
  font-size: 16px;
}

.main-wrapper {
  padding: 20px 0px;
}

.container-wrapper {
  display: flex;
}

.container-left {
  height: -o-calc(100vh - 120px); /* opera */
  height: -webkit-calc(100vh - 120px); /* google, safari */
  height: -moz-calc(100vh - 120px); /* firefox */
  display: inline-block;
  vertical-align: top;
  /*overflow: scroll;*/
  padding: 20px;
  flex: 6;
}

.container-right {
  height: -o-calc(100vh - 120px); /* opera */
  height: -webkit-calc(100vh - 120px); /* google, safari */
  height: -moz-calc(100vh - 120px); /* firefox */
  display: inline-block;
  vertical-align: top;
  /*overflow: scroll;*/
  background: #000000;
  float: right;
  flex: 4;
}

.container-right-inner {
  padding: 20px;
}

/*@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}*/

.side {
  background: #0e0e12;
}

.side .line {
  margin: 1.5rem 0;
  border-bottom: 1px solid #32303a;
}

.num {
  color: #df925c;
  margin-bottom: 0.3rem;
  margin-top: 3px;
}

.area {
  color: white;
}

/*
 * Cover
 */
/*.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
*/

/*
 * Footer
 */
/*.mastfoot {
  color: rgba(255, 255, 255, .5);
}*/

.custom-footer {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  user-select: auto;
  text-align: center;
  font-size: 11px;
  border-top: 1px solid #323232;
}

.custom-footer .footer-row {
  display: inline-block;
  margin: 0.5em auto;
  padding: 0 1em;
  max-width: 800px;
}

.container-right-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #000;
  user-select: auto;
  opacity: 100%;
  font-size: 0.9em;
  border-top: 1px solid #323232;
}

.home a {
  color: white;
}

.logo {
  margin: 0.5em;
  display: inline-block;
}

.disclaimer {
  padding-bottom: 10px;
}

/*
* Form
*/
label {
  text-transform: uppercase;
}

.btn-primary,
.btn-secondary {
  padding: 11px 20px;
  border-radius: 0px;
}

select,
input {
  border-radius: 0px !important;
}

.btn-secondary {
  margin-right: -10px;
}

label.btn-secondary > input {
  display: none;
}

.btn-primary {
  background-color: white !important;
  color: black !important;
  text-transform: uppercase;
}

.vertical-buttons {
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .vertical-buttons > div > .description {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .vertical-buttons > div > .description {
    padding-top: 15px;
  }
}

.vertical-buttons > div > div > label {
  min-width: 140px;
}

@media only screen and (max-width: 450px) {
  label {
    width: inherit;
  }
}

.full-width {
  width: 100%;
}

.medium {
  font-size: 25px;
}

.form-group .row {
  padding-bottom: 0.75rem;
  border-radius: 0px;
}

/*
* Result event evaluation
*/
.recommendation {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 18px;
  color: black;
  font-weight: bold;
}

.cancel .recommendation {
  background-color: #c51300;
}
.cancel .number {
  color: #ff2710;
}

.uncertain .recommendation {
  background-color: #fcb100;
}
.uncertain .number {
  color: #fcb100;
}

.goahead .recommendation {
  background-color: #90e10b;
}
.goahead .number,
.green {
  color: #90e10b;
}

.detail-button {
  background-color: transparent;
  border-width: 0px;
  min-width: 132px;
  margin-bottom: 12px;
  padding: 0;
  text-align: right;
}

.less-visible7 {
  color: white;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.less-visible8 {
  color: white;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/*
* Model
*/

.population > label {
  padding-left: 0px !important;
}
.population > div {
  margin-top: -6px;
  margin-left: 0px;
}

strong {
  color: white;
}

.containment_measure {
  padding-top: 10px;
}

.mitigation-strength {
  margin-left: auto;
  display: flex;
}

.mitigation-strength > div > .btn-secondary {
  min-width: 76px;
}

.alert-warning > p {
  margin-bottom: 0px;
}

@media only screen and (max-width: 991px) {
  .title {
    text-align: center;
  }
  .population > label {
    margin-top: 20px;
    margin-right: 0px;
  }
  .mitigation-strength {
    margin-top: 8px;
  }
}

@media only screen and (min-width: 992px) {
  .title {
    text-align: left;
  }
  .population {
    margin-left: -52px;
  }
  .population > label {
    margin-top: 2px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 576px) {
  .large {
    font-size: 35px;
  }
}

@media only screen and (max-width: 575px) {
  .large {
    font-size: 25px;
  }
  .navbar ul li {
    display: block;
  }
  .navbar ul {
    padding: 0;
  }

  .nav-masthead .nav-link {
    border-bottom: 0.1rem solid transparent;
  }
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  .nav-masthead .nav-link {
    padding-left: 0px;
  }
  .container-wrapper {
    display: block;
  }
  .container-left {
    flex: none;
    width: 100%;
  }
  .container-right {
    flex: none;
    width: 100%;
  }
  .container-right-footer {
    position: static;
  }
  .main-wrapper {
    padding: 15px 15px;
  }

  #my_dataviz {
    margin: 0 -24px;
  }

  .detail-button {
    text-align: left;
  }
  .alert-warning > p {
    margin-bottom: 0px;
    font-size: 0.75rem;
  }
}

.fill-available-width {
  width: 100%;
}

textarea {
  height: 200px;
}

.color1 {
  color: #edcdab;
}
.color2 {
  color: #edb77e;
}
.color3 {
  color: #e97f0f;
}
.color4 {
  color: #9ac9d9;
}
.color5 {
  color: #5abbdb;
}
.color6 {
  color: #007ca6;
}

.legend {
  opacity: 1 !important;
  user-select: auto;
  width: 100% !important;
  background-color: transparent;
  background: transparent !important;
  font: 12px sans-serif;
  text-align: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 70px !important;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  color: #fff;
  background: #050547;
  border: 1px solid #212121;
  border-radius: 8px;
  pointer-events: none;
  background-color: #342e47 !important;
  margin-left: 16px;
  margin-top: -8px;
}

.overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.line .crosshair {
  fill: none;
  stroke-width: 1px;
}

.line .crosshair {
  stroke: white;
  opacity: 0.2;
}

#my_dataviz {
  vertical-align: top;
  overflow: hidden;
}

.js-plotly-plot .plotly .svg-container {
  position: relative;
}

.js-plotly-plot .plotly .main-svg:first-child {
  position: relative;
}

/*
* General
*/
.underlined {
  text-decoration: underline;
}

table th,
table td {
  padding: 0.1em 0.7em;
}

.dropdown-list {
  height: auto;
  overflow-y: scroll;
  text-transform: uppercase;
}

.alert-dismissible .close:hover {
  color: white;
}
