.measure-calculator {
  display: grid;
  grid-template-columns: [total-start] auto auto 1fr auto [total-end];
  column-gap: 1em;
  row-gap: 0.5em;
}

.measure-calculator .slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.measure-calculator .label {
  font-size: 14px;
  align-self: center;
}

.measure-calculator .label input {
  margin-top: 0.2rem;
  margin-right: 0.3rem;
  -webkit-transform: scale(1.2);
  transform: scale(1);
}

.measure-calculator .label label {
  text-transform: none;
}

.measure-calculator .group-explanation {
  max-width: 200px;
  font-size: 13px;
  color: gray;
}

.slider .ruler-label {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

.measure-calculator .slider .ruler {
  flex-grow: 1;
  margin: 0 0.4em;
}

.measure-calculator .value {
  align-items: center;
  align-self: center;
}

.measure-calculator .value button {
  padding: 0 0.5rem;
}

.measure-calculator .value input {
  width: 4em;
  box-shadow: none;
  padding: 0.375rem 0.375rem 0.375rem 0.4rem;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.measure-calculator .value span {
  padding: 0.3rem;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.measure-calculator .outcome input {
  width: 4.75em;
  box-shadow: none;
  padding: 0.375rem 0.375rem 0.375rem 0.5rem;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

input[type="range"].measure-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
  background: transparent;
  --thumb-width: 8px;
  --track-height: 14px;
}
input[type="range"].measure-slider:focus {
  outline: none;
}

input[type="range"].measure-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--track-height);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--ruler-background);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"].measure-slider::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: var(--thumb-width);
  border-radius: calc(var(--thumb-width) / 2);
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type="range"][disabled].measure-slider::-webkit-slider-thumb {
  box-shadow: none;
  border: none;
  height: calc(var(--track-height) + 2px);
  width: 3px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -1px;
}

input[type="range"].measure-slider::-moz-range-track {
  width: 100%;
  height: var(--track-height);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--ruler-background);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"].measure-slider::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: var(--thumb-width);
  border-radius: calc(var(--thumb-width) / 2);
  background: #ffffff;
  cursor: pointer;
}
input[type="range"][disabled].measure-slider::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: calc(var(--track-height) * 1.1);
  width: 3px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"].measure-slider::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].measure-slider::-ms-fill-lower {
  background: rgba(42, 100, 149, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"].measure-slider::-ms-fill-upper {
  background: rgba(48, 113, 169, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"].measure-slider:focus::-ms-fill-lower {
  background: rgba(48, 113, 169, 0.78);
}
input[type="range"].measure-slider:focus::-ms-fill-upper {
  background: rgba(54, 126, 189, 0.78);
}
input[type="range"].measure-slider::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  height: 11.4px;
}
input[type="range"][disabled].measure-slider::-ms-thumb {
  box-shadow: none;
  border: none;
  height: calc(var(--track-height) + 2px);
  width: 3px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
}
