<div class="custom-footer">
  <!-- AddToAny BEGIN -->
  <div class="footer-row a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_reddit"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_button_email"></a>
    <a class="a2a_button_whatsapp"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->
  <!-- Sponsor Links -->
  <div>
    <img
      class="logo"
      height="64"
      width="64"
      src="{{ASSET_ROOT}}/img/oxford_64.png"
      srcset="
        {{ASSET_ROOT}}/img/oxford_64.png  1x,
        {{ASSET_ROOT}}/img/oxford_128.png 2x,
        {{ASSET_ROOT}}/img/oxford.png     2.5x
      "
      alt="Logo of the University of Oxford"
    />

    <img
      class="logo"
      height="64"
      width="160"
      src="{{ASSET_ROOT}}/img/australian_national_university_64.png"
      srcset="{{ASSET_ROOT}}/img/australian_national_university.png 2x"
      alt="Logo of Australian National University"
    />
    <img
      class="logo"
      height="64"
      width="109"
      src="{{ASSET_ROOT}}/img/foretold_64.png"
      srcset="{{ASSET_ROOT}}/img/foretold.png 2x"
      alt="Logo of Foretold"
    />
  </div>
  <div class="footer-row disclaimer">
    The above displayed data and predictions are results of estimation and
    modelling. Please
    <a href="/about">contact us</a>
    before using our data for major decisions. <a href="#disclaimer" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="disclaimer">Disclaimer</a>

    <ul style="text-align: left; padding-left: 2em;" class="collapse" id="disclaimer">
      <li>This work is produced on a pro-bono, good faith basis. Although many of the staff and volunteers of the EpidemicForecasting.org project have relevant professional experience, it is not professional or medical advice.</li>
      <li>While every reasonable effort has been made to ensure that the information is correct, the views expressed are accurate and represent the best available evidence, and all reasonable care has been taken in the production of modelling, no responsibility or liability is accepted for errors or omission of fact or for any opinions expressed herein, or any decisions which any party make while relying in whole or in part on this document.</li>
      <li>Readers and users of our work are advised to form their own independent judgement with respect to any matter contained in this document.</li>
      <li>The global knowledge base on COVID-19 is changing rapidly. Facts, opinions, projections, and estimates are subject to change without notice. Readers and users of our work are advised to avoid using modelling outputs which are not very recent when making public policy decisions.</li>
      <li>This work is produced by staff and volunteers from a range of organisations. It is the work of the authors as individuals, not as institutions. None of the University of Oxford, the Future of Humanity Institute, Australian National University or any other organisation accept responsibility or liability for this work.</li>
    </ul>
  </div>
</div>
