{% from "snippets/region-dropdown.html" import region_dropdown %}

<div class="top-row">
  {{ region_dropdown("regionDropdown") }}
  <div class="active-infections-block">
    <span class="number-subheader" id="infections-date"></span>
    <div class="active-infections">Active Infections:
      <span class="infections-estimated" id="infections-estimated">&mdash;</span>
      <!-- TODO: Insert official case count into tooltip -->
      <a href="#case-count-explanation">
        <span class="question-tooltip">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="18"
            viewBox="0 0 24 24"
            width="18"
          >
            <path d="M0 0h24v24H0z" fill="none"/>
            <path
              d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"
/>
          </svg>
        </span>
      </a>
    </div>
    <div class="infections-confirmed"> Confirmed Infections: <span id="infections-confirmed">&mdash;</span></div>
  </div>

  <div class="population-block">
    <div class="number-subheader">Population</div>
    <div class="infections-population">
      <span id="infections-population">&mdash;</span></div>
  </div>
</div>

<hr/>
<h5 class="mitigation-strength-heading">
  Explore global and national mitigation strength:
  <a href="#mitigation-measures-explanation">
    <span class="question-tooltip">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="18"
        viewBox="0 0 24 24"
        width="18"
      >
        <path d="M0 0h24v24H0z" fill="none"/>
        <path
          d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"
/>
      </svg>
    </span>
  </a>
</h5>

<div class="mitigation-strength" id="mitigation" data-toggle="buttons">
  <div class="mitigation-strength-buttons">
    <div class="mitigation-strength-button" id="mitigation-none">
      <label class="btn btn-secondary active beta-0">
        <input
          type="radio"
          name="mitigation"
          id="mitigation-none"
          autocomplete="off"
          value="none"
/>
        0%
        <div class="mitigation-strength-explanation">
          Every person infects on average 2.6 other people.*
        </div>
      </label>
    </div>
    <div class="mitigation-strength-button" id="mitigation-weak">
      <label class="btn btn-secondary active beta-05">
        <input
          type="radio"
          name="mitigation"
          id="mitigation-weak"
          autocomplete="off"
          value="weak"
/>
        20%
        <div class="mitigation-strength-explanation">
          Every person infects on average 2 other people (a 20% reduction in
          infection rate).
        </div>
      </label>
    </div>
    <div class="mitigation-strength-button" id="mitigation-moderate">
      <label class="btn btn-secondary active beta-04">
        <input
          type="radio"
          name="mitigation"
          id="mitigation-moderate"
          autocomplete="off"
          value="moderate"
/>
        50%
        <div class="mitigation-strength-explanation">
          Every person infects on average 1.3 other people (a 50% reduction in
          infection rate).
        </div>
      </label>
    </div>
    <div class="mitigation-strength-button" id="mitigation-strong">
      <label class="btn btn-secondary active beta-03">
        <input
          type="radio"
          name="mitigation"
          id="mitigation-strong"
          autocomplete="off"
          value="strong"
/>
        80%
        <div class="mitigation-strength-explanation">
          Every person infects on average 0.5 other people (almost as strong as
          the mitigation strength achieved in Wuhan, China, which was roughly
          90%).
        </div>
      </label>
    </div>

    <div class="mitigation-strength-explanation footnote">
      <i>
        *These numbers are for illustration, based on one reasonable choice of
        R0 and serial interval. In practice some people can infect dozens of
        others.
      </i>
    </div>

    {# <div class="col-sm-auto col-xm-12 mitigation-strength">
      <button id="showMitigation" onclick="showExplanation('showMitigation','hideMitigation','explanationMitigation')"
        class="detail-button less-visible7">
        More detail <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
            clip-rule="evenodd" />
        </svg>
      </button>
      <button id="hideMitigation" onclick="hideExplanation('showMitigation','hideMitigation','explanationMitigation')"
        class="detail-button less-visible7" style="display: none;">
        Less detail <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div> #}

    <!-- Create a div where the graph will take place -->
  </div>

  <div class="graph-column">
    <div id="my_dataviz"></div>
    
    <div class="projections-row">
      <div class="total-infected">
        <span class="number-subheader">
          Total Infected by 2021
        </span>
        <span class="total-infected-number" id="total-infected"></span>
      </div>
      <div class="sim-infected">
        <span class="number-subheader sim-infected-subheader">
          Peak Active Infections
        </span>
        <span class="sim-infected-number" id="sim-infected"></span>
      </div>
    </div>
  </div>
</div>
<hr/>

{#
<!-- Toggleable explanation -->
 <div id="explanationMitigation" class="row less-visible8" style="display: none;">
  <div class="col-12">
    We're modelling global mitigation measures via their impact on effective transmission rate, since the same mitigation
    strength can be often achieved in multiple ways. For example, something roughly in the range of "weak mitigation"
    can be achieved either by closing schools and banning large gatherings (alone) or
    by compulsory wear of masks and widely adopted voluntary social distancing (alone).
    <br><br>
    The available mitigation levels are:
    <ul>
      <li><strong>None:</strong> Do nothing</li>
      <li><strong>Weak:</strong> Decrease of effective transmission rate by 20%</li>
      <li><strong>Moderate:</strong> Decrease of effective transmission rate by 50%</li>
      <li><strong>Strong:</strong> Decrease of effective transmission rate by 80%</li>
    </ul>
    <p>For comparison, in Wuhan the estimated reproduction number was ~3.5 before mitigation measures, and ~0.32 after
      implementation of all measures [...ref...]. This would correspond to a mitigation strength of ~90% — stronger than
      our &quot;Strong&quot; setting.</p>
  </div>
</div>
#}

{# <p><i>Choose the aggregate effect on COVID-19 transmission rate, of all mitigation measures implemented globally (not
    just in <span class="selected-region"></span>).</i>
</p> #}