{% extends "base.html" %} 
{% set title = 'Countermeasures' %} 
{%- block additional_js_pre-%}
<style type="text/css">
</style>
{% endblock %} 
{% block content %}

<!-- Main model graph -->
<div class="main-wrapper">
  <div class="row">
    <div class="central-column">
      <div id="react-measures"></div>

      <div class="model-explanation">
        <h5 class="mitigation-strength-heading">Explain measures (TODO)</h5>
        <p>The impact on <span class="selected-region"></span></p>
      </div>
    </div>
  </div>
</div>
{% endblock %} 
{% block additional_js %} {% endblock %}
