{% set active_page = active_page|default('index') -%}

<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <h1 class="home">
      <a href="/">Covid-19 Forecasting</a>
    </h1>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse pull-right nav-masthead justify-content-end"
      id="navbarText"
    >
      <ul>
        {% for item in navigation_bar %}
        <li>
          <a
            class="nav-link {% if item.id == active_page %}active{% endif %}"
            href="{{ item.path|e }}"
            >{{ item.caption|e }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
