{% extends "base.html" %} {% set title = 'Request a Custom Forecast' %} {% set
active_page = 'request-model' %} {%- block additional_js_pre -%} {%- endblock
-%} {%- block content -%}
<div class="container main">
  <div>
    <div class="row">
      <div class="col-lg-9 col-md-12">
        <h5>On demand modelling</h5>
        <br>
        <p>
          Thank you. Your request for modelling has been submitted and we'll be in touch shortly.
        </p>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block additional_js %} {% endblock %}
