{% extends "base.html" %}
{% set title = 'About Epidemic Forecasting' %}
{% set active_page = 'about' %}
{%- block additional_js_pre -%}
<style type="text/css">
  label {
    margin-bottom: 15spx;
  }

  @media only screen and (max-width: 991px) {
    .btn-primary {
      width: -webkit-fill-available;
    }
  }
</style>
{% endblock %} {% block content %}

<div class="container main">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <h5>Contact</h5>
      <br>
      <p>
        Thank you. Your contact request has been submitted and we'll be in touch shortly.
      </p>
      <br>
      <br>
    </div>
  </div>
</div>
{% endblock %} {% block additional_js %}
{% endblock %}