{% extends "base.html" %} {% set title = 'Mitigation Calculator - Paper' %} {%-
block additional_js_pre -%}
<link href="{{ASSET_ROOT}}/css/measure-slider.css" rel="stylesheet" />
<style type="text/css">
  label {
    margin-bottom: 15spx;
  }

  @media only screen and (max-width: 991px) {
    .btn-primary {
      width: -webkit-fill-available;
    }
  }
</style>
{% endblock %} {% block content %}
<div class="container main">
  <div id="react-mitigation-calculator-paper"></div>
</div>
{% endblock %} {% block additional_js %} {% endblock %}
