{% macro region_dropdown(id) %}
<div class="dropdown" id="regionDropdown">
  <button
    class="btn btn-primary dropdown-toggle medium dropdown-caret-styling region-dropdown"
    type="button"
    aria-haspopup="true"
    data-toggle="dropdown"
  >
    <span class="region-dropdown-label" data-dropdown="label">...</span>
    <span class="caret"></span>
  </button>
  <div class="dropdown-menu">
    <div class="px-3 py-2">
      <input
        class="form-control"
        data-dropdown="filter"
        type="text"
        placeholder="Filter..."
        autofocus="autofocus"
      />
    </div>
    <div data-dropdown="list"></div>
  </div>
</div>
{% endmacro %}
