/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #83908e;
}

/* Custom default button */
/*.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}*/

/*
 * Base structure
 */
html,
body {
  font-family: "DM Sans", sans-serif;
  background-color: #0e0d0d;
  color: #a9a9ac;
  height: 100%;
}

body {
  font-size: 0.9rem;
}

h1 {
  font-size: 1em;
  color: #fff;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
.title {
  text-transform: uppercase;
  color: white;
}

.title {
  color: white;
  font-weight: normal;
  padding-bottom: 1.5em;
}

.title-form {
  color: white;
  font-weight: normal;
  font-size: 35px;
  line-height: 50px;
  text-transform: none;
  padding-bottom: 10px;
}

.fill {
  height: 100%;
}

/*
 * Header
 */
header {
  border-bottom: 1px solid #32303a;
}

header h1 {
  margin: 0;
}

header h1:before {
  display: block;
  content: "";
  width: 4rem;
  padding: 2px;
  border-top: 2px solid #fff;
}

.nav-masthead .nav-link {
  padding: 1.5em 1.5em 1em;
  font-weight: 700;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #aaa;
  border-bottom-color: #aaa;
}

.nav-masthead .nav-link.active:hover,
.nav-masthead .nav-link.active:focus {
  color: #aaa;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

main {
  padding: 1.5rem 0;
}

/*@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}*/

.side {
  background: #0e0e12;
}

.side .line {
  margin: 1.5rem 0;
  border-bottom: 1px solid #32303a;
}

.num {
  color: #df925c;
}

.area {
  color: white;
}

footer {
  font-size: 0.9em;
}
/*
 * Cover
 */
/*.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
*/

/*
 * Footer
 */
/*.mastfoot {
  color: rgba(255, 255, 255, .5);
}*/

hr {
  border-color: #323232;
}

/*
* Form
*/
label {
  text-transform: uppercase;
}

.btn-primary,
.btn-secondary {
  padding: 11px 20px;
  border-radius: 0px;
}

.btn-secondary.active {
  background-color: white !important;
  color: black !important;
}

select,
input {
  border-radius: 0px !important;
}

.btn-secondary {
  margin-right: -10px;
}

label.btn-secondary > input {
  display: none;
}

.btn-primary {
  background-color: white !important;
  color: black !important;
  text-transform: uppercase;
}

.vertical-buttons {
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .vertical-buttons > div > .description {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .vertical-buttons > div > .description {
    padding-top: 15px;
  }
}

.vertical-buttons > div > div > label {
  min-width: 140px;
}

@media only screen and (max-width: 450px) {
  label {
    width: inherit;
  }
}

.full-width {
  width: 100%;
}

.medium {
  font-size: 25px;
}

.form-group .row {
  padding-bottom: 0.75rem;
}

/*
* Model
*/

.population > label {
  padding-left: 0px !important;
}
.population > div {
  margin-top: -6px;
  margin-left: 0px;
}

.mitigation-strenght > div > .btn-secondary {
  min-width: 76px;
}

@media only screen and (max-width: 991px) {
  .population > label {
    margin-top: 20px;
    margin-right: 0px;
  }
  .mitigation-strenght {
    margin-top: 8px;
  }
}

@media only screen and (min-width: 992px) {
  .population {
    margin-left: -52px;
  }
  .population > label {
    margin-top: 2px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 576px) {
  .large {
    font-size: 35px;
  }
}

@media only screen and (max-width: 575px) {
  .large {
    font-size: 25px;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.fill-available-width {
  width: -webkit-fill-available;
}

textarea {
  height: 200px;
}
