/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #caddda;
}

/* Custom default button */
/*.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}*/

/*
 * Base structure
 */
html,
body {
  font-family: "DM Sans", sans-serif;
  background-color: #000000;
  height: 100%;
  color: white; /*#a9a9ac*/
}

body {
  font-size: 0.9rem;
}

h1 {
  font-size: 1em;
  color: #fff;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
.title {
  text-transform: uppercase;
  color: white;
}

.title {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 81px !important;
}
.title-form {
  color: white;
  padding-bottom: 18px;
  font-size: 32px;
}

.title,
.title-form {
  font-weight: normal;
  line-height: 35px;
  text-transform: none;
}

.fill {
  height: 100%;
}

/*
 * Header
 */
header {
  border-bottom: 1px solid #32303a;
}

header h1 {
  margin: 0;
}

header h1:before {
  display: block;
  content: "";
  width: 4rem;
  padding: 2px;
  border-top: 2px solid #fff;
}

.nav-masthead .nav-link {
  padding: 1.5em 1.5em 1em;
  font-weight: 700;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #aaa;
  border-bottom-color: #aaa;
}

.nav-masthead .nav-link.active:hover,
.nav-masthead .nav-link.active:focus {
  color: #aaa;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar ul li {
   display: inline-block;
}

.navbar ul {
   margin: 0;
}

.navbar {
   padding: 0;
}

.main {
  margin: 20px auto;
  padding-bottom: 5em;
}

/*@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}*/

.side {
  background: #0e0e12;
}

.side .line {
  margin: 1.5rem 0;
  border-bottom: 1px solid #32303a;
}

.num {
  color: #df925c;
  margin-bottom: 0.3rem;
  margin-top: 3px;
}

.area {
  color: white;
}

/*
 * Cover
 */
/*.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
*/

/*
 * Footer
 */
/*.mastfoot {
  color: rgba(255, 255, 255, .5);
}*/

.custom-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #000;
  user-select: auto;
  opacity: 100%;
  font-size: 0.9em;
  border-top: 1px solid #323232;
}

hr {
  border-color: #323232;
}

.logo {
  height: 55px;
  margin: 5px;
}

/*
* Form
*/
label {
  text-transform: uppercase;
}

.btn-primary,
.btn-secondary {
  padding: 11px 20px;
  border-radius: 0px;
}

.btn-secondary.active,
.submit {
  background-color: white !important;
  color: black !important;
}

select,
input {
  border-radius: 0px !important;
}

.btn-secondary {
  margin-right: -10px;
}

label.btn-secondary > input {
  display: none;
}

.btn-primary {
  background-color: white !important;
  color: black !important;
  text-transform: uppercase;
}

.vertical-buttons {
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .vertical-buttons > div > .description {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .vertical-buttons > div > .description {
    padding-top: 15px;
  }
}

.vertical-buttons > div > div > label {
  min-width: 140px;
}

@media only screen and (max-width: 450px) {
  label {
    width: inherit;
  }
}

.full-width {
  width: 100%;
}

.medium {
  font-size: 25px;
}


.form-group .row {
  padding-bottom: 0.75rem;
  border-radius: 0px;
}

}

/*
* Result event evaluation
*/
.recommendation {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 18px;
  color: black;
  font-weight: bold;
}

.cancel .recommendation {
  background-color: #c51300;
}
.cancel .number {
  color: #ff2710;
}

.uncertain .recommendation {
  background-color: #fcb100;
}
.uncertain .number {
  color: #fcb100;
}

.goahead .recommendation {
  background-color: #90e10b;
}
.goahead .number,
.green {
  color: #90e10b;
}

.detail-button {
  background-color: transparent;
  border-width: 0px;
  min-width: 132px;
  margin-bottom: 12px;
}

.less-visible7 {
  color: white;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.less-visible8 {
  color: white;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.credits {
  font-size: 13px;
  margin-top: -10px;
}

.fa-caret-down,
.fa-caret-up {
  margin-left: 4px;
}

/*
* Model
*/

.population > label {
  padding-left: 0px !important;
}
.population > div {
  margin-top: -6px;
  margin-left: 0px;
}

strong {
  color: white

}

.containment_measure {
  padding-top: 10px;
}

.mitigation-strenght > div > .btn-secondary {
  min-width: 76px;
}

@media only screen and (max-width: 991px) {
  .title {
    text-align: center;
  }
  .population > label {
    margin-top: 20px;
    margin-right: 0px;
  }
  .mitigation-strenght {
    margin-top: 8px;
  }
}

@media only screen and (min-width: 992px) {
  .title {
    text-align: left;
  }
  .population {
    margin-left: -52px;
  }
  .population > label {
    margin-top: 2px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 576px) {
  .large {
    font-size: 35px;
  }
}

@media only screen and (max-width: 575px) {
  .large {
    font-size: 25px;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .navbar ul li {
     display: block;
  }
  .navbar ul {
     padding: 0;
  }
  .navbar {
     padding: 10px 0;
  }
  .nav-masthead .nav-link {
    border-bottom: 0.1rem solid transparent;
  }
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  .nav-masthead .nav-link {
    padding-left: 0px;
  }
}

.fill-available-width {
  width: 100%
}

textarea {
  height: 200px;
}
/*
* General
*/
.underlined {
  text-decoration: underline;
}
