/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #83908E;
}

/* Custom default button */
/*.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}*/


/*
 * Base structure
 */
html,
body {
	font-family: 'DM Sans', sans-serif;
  background-color: #222129;
  color: #69696C;
}

body {
	font-size: .9rem;
}

h1 {
	font-size: 1em;
	color: #FFF;
	font-weight: bolder;
	justify-content: center;
	align-items: center;
}

/*
 * Header
 */
header {
  border-bottom: 1px solid #32303A;
}

header h1 {
	text-transform: uppercase;
  margin: 0;
}

.nav-masthead .nav-link {
  padding: 1.5em 1.5em 1em;
  font-weight: 700;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	color: #AAA;
  border-bottom-color: #AAA;
}

.nav-masthead .nav-link.active:hover,
.nav-masthead .nav-link.active:focus {
  color: #AAA;
}

.nav-masthead .active {
  color: #FFF;
  border-bottom-color: #FFF;
}

/*@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}*/


/*
 * Cover
 */
/*.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
*/

/*
 * Footer
 */
/*.mastfoot {
  color: rgba(255, 255, 255, .5);
}*/
