{% set description -%}
Researchers from the Oxford Future of Humanity Institute have created country-specific predictions of the current and future spread of the COVID-19 coronavirus pandemic using GLEAMviz epidemic modeling software and a database of mitigation and control measures in effect around the world.
{%- endset -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="{{STATIC_URL}}/img/favicon.ico" />

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />

    <!-- Open Graph metadata (for Facebook sharing thumbnail) -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:image" content="{{STATIC_URL}}/img/thumbnail.jpg" />
    <meta property="og:description" content="{{ description }}" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WX8Q8P2');</script>
    <!-- End Google Tag Manager -->

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link 
      href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap" 
      rel="stylesheet"
    >

    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}/css/main.css" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-160643838-1"
    ></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-160643838-1");
    </script>

    {% block additional_js_pre %} {% endblock %}
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WX8Q8P2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include "nav.html" %}
    {% block content %} {% endblock %}
    {% include "footer.html" %}

    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CURL%2Cfetch%2CPromise"></script>

    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" 
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
      crossorigin="anonymous"
    ></script>

    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" 
      integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" 
      crossorigin="anonymous"
    ></script>

    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" 
      integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" 
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?tracking=1&top=1"
    ></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.51.1/plotly-basic.min.js" integrity="sha256-uFsGuCb3OlYSUV+cZuYWVrTNA+Q5IccRLWCG1vzsCCs=" crossorigin="anonymous"></script> -->


    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" 
      integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" 
      crossorigin="anonymous"
    ></script>

    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js" 
      integrity="sha256-SQJ/nCYPXFPuqoS56EfnesDBPNiitndOIfN2WdPRi/o=" 
      crossorigin="anonymous"
    ></script>

    {% block additional_js %} {% endblock %}

    <script src="{{STATIC_URL}}/bundle.js"></script>
  </body>
</html>
