{% extends "base.html" %}
{% set title = 'COVID-19 Case Map' %}
{% set active_page = 'case-map' %}
{%- block additional_js_pre -%}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
  integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
  crossorigin=""></script>

<style>
  #mapid {
    height: 800px;
  }
</style>
{% endblock %} {% block content %}

<div class="container main">
  <div class="row">
    <div class="col-12">
      <div id="mapid"></div>
    </div>
    <div class="col-12">
      <p>
       This map is displaying our median estimates of the fraction of the population
        infected in selected regions (active cases).
        We hope to add all regions soon.
      </p>
    </div>
  </div>
</div>

<!-- Don't know why this isn't actually displayed? -->
<div>
  <div class="row"></div>
</div>

{% endblock %} 
{% block additional_js %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
{% endblock %}
