{% extends "base.html" %}
{% set title = 'Containment Measures Database' %}
{% set active_page = 'mitigation' %}
{%- block additional_js_pre -%}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<style type="text/css">
    label {
        margin-bottom: 15spx;
    }

    @media only screen and (max-width: 991px) {
        .btn-primary {
            width: -webkit-fill-available;
        }
    }
</style>
{% endblock %} {% block content %}
<div class="container main">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <h1 class="title-form">Dataset of COVID-19 containment and mitigation measures v0.1</h1>

            <h5>Background</h5>
            <p>The dataset attempts to cover all measures of national significance intended to reduce the transmission
                of COVID-19, in all the worlds nations.</p>
            <p>Each measure in the database has entries on:</p>
            <ul>
                <li>Country (and state for the US)</li>
                <li>Textual description of the measure</li>
                <li>Start date of measure</li>
                <li>End date (if available)</li>
                <li>URL to source of more information</li>
                <li>Systematic keyword labels (e.g. &quot;travel ban&quot; or &quot;hygiene enforcement&quot;)</li>
            </ul>
            <p><em>This is work in progress.</em> </p>
            <p>More metadata will be added soon.</p>
            <p>The completion state of various countries can be seen <a
                    href="https://www.notion.so/dbf0f4ffc03f4417a16d65a6d08eea69?v=845ef4baafd44e72b9c483381b90caae">here</a>,
                and more details on the current tagging scheme <a
                    href="https://www.notion.so/COVID-19-countermeasures-b532a58d6f944ef6982ab565627bdb08">here</a>.
            </p>
            <p>As of March 23rd, with about 1000 entries, we are ~30% through, and by March 27 we hope to have a stable
                release with consistent labels and 3000 entries for the most highly prioritised nations (based on
                population and current infection rate).</p>
            </br>
            <h5>Download the data</h5>
            <i>GLEAMviz Dataset</i>
            <ul>
              <li><a href="https://storage.googleapis.com/static-covid/static/simulation-defs-main.zip">GLEAM simulation
                  definitions with infection estimates</a></li>
              <li><a href="https://storage.googleapis.com/static-covid/static/data-main-v3.json">Results data</a>
                (JSON, see the <a href="https://github.com/epidemics/covid/blob/master/docs/data-specification.md">specification</a>)</li>
            </ul>
            <i>Other Files</i>
            <ul>
              <li><a href="https://www.notion.so/977d5e5be0434bf996704ec361ad621d?v=fe54f89ca9e04ac799af42b39e1efc4b">Country
                  containment measures</a></li>
              <li><a href="https://storage.googleapis.com/static-covid/static/countries-spread.csv">Country spreads map data</a></li>
              <li><a href="https://storage.googleapis.com/static-covid/Containment%20measures/COVID-19%20containment%20measures.zip">Containment Measures (CSV)</a></li> 
              <li><a href="https://www.notion.so/977d5e5be0434bf996704ec361ad621d?v=fe54f89ca9e04ac799af42b39e1efc4b">Containment Measures (Notion Database Export)</a></li> 
            </ul>
            <h5>Dataset LICENSE</h5>
            <p>These datasets are licensed under the MIT license.</p>
            </br>
            <h5>Modelling the effectiveness of containment measures</h5>
            <p>We are currently pursuing a machine learning project to model the effectiveness of various measures to
                reduce COVID-19 transmission, based on this dataset (and empirical observed reproduction rates).</p>
            <p>The results will be used to improve our <a href="http://epidemicforecasting.org/">main epidemiological
                    simulations</a>. </p>
            <p>If you are working on similar projects, we&#39;d be keen to discuss opportunities for collaboration.
                Reach out using the form below. We also invite requests if you're using the dataset for another purpose,
                such as econometric modelling.</p>

            </br>
            <h5>Contributions and questions</h5>

            <p>
                If you'd like to volunteer to extend the dataset, or have any questions about usage, please
                reach out using this form.
            </p>

            <form action="https://formspree.io/xoqlnedo" method="POST">
                <label class="fill-available-width">Your email</label>
                <div class="row">
                    <div class="col-lg-6">
                        <input class="fill-available-width" type="text" name="_replyto" />
                    </div>
                </div>
                <br />
                <label class="fill-available-width">Message</label>
                <div class="row">
                    <div class="col-lg-6">
                        <textarea class="fill-available-width" name="message"></textarea>
                    </div>
                </div>

                <!-- your other form fields go here -->
                <br />

                <button type="submit" class="btn btn-primary">
                    Send
                </button>
            </form>

            </br>

        </div>
    </div>
</div>
{% endblock %} {% block additional_js %}
<script src="{{ url_for('static', path='/js/lines.js') }}"></script>
{% endblock %}
