{% extends "base.html" %} {% block title %} Model {% endblock title%} {% set
  active_page = 'models' -%} {% block additional_js_pre %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<style type="text/css">
  label {
    margin-bottom: 15spx;
  }

  @media only screen and (max-width: 991px) {
    .btn-primary {
      width: -webkit-fill-available;
    }
  }
</style>
{% endblock %} {% block content %}
<div class="row">
  <div class="col-lg-9 col-md-12">

    <h5>TEAM</h5>

      <p>This project was created by a team of research scholars from the Future of Humanity Institute Oxford, together
        with a large number of volunteer collaborators,
        after an original idea by Jan Kulveit. To contact us please use the form on the right.</p>
        <ul>
      <li>Jacob Lagerros (Research scholar, Future of Humanity Institute, University of Oxford)</li>
      <li>Ozzie Gooen (Research scholar, Future of Humanity Institute, University of Oxford)</li>
      <li>Nora Ammann (Project manager, Future of Humanity Institute, University of Oxford)</li>
      <li>David Johnston (PhD, Australian National University)</li>
      <li>Daniel Hnyk (Engineering manager, GlobalWebIndex)</li>
      <li>Peter Hrosso (Founder &amp; tech lead, Aird Works)</li>
      <li>Pierre Francois Duc (Researcher, Reiner Lemoine Institute)</li>
      <li>Ondřej Švec (Software engineer, Google)</li>
      <li>Jan Pipek (Data scientists, DT One)</li>
      <li>Jan Losert (Product designer, Webflow)</li>
      <li>Tomáš Gavenčiak (Independent researcher)</li>
      <li>Mati Roy (Analyst, Ought)</li>
      <li>Matej Vrzala</li>
    </ul>
        </div>

</div>

<div>
  <br />
  <h1 class="title-form">CONTACT</h1>
  <!-- modify this form HTML and place wherever you want your form -->

  <form action="https://formspree.io/mrglewyq" method="POST">
    <label class="fill-available-width">Your email address:</label>
    <div class="row">
      <div class="col-lg-6">
        <input class="fill-available-width" type="text" name="_replyto" />
      </div>
    </div>
    <br />
    <br />
    <label class="fill-available-width">Your message:</label>
    <div class="row">
      <div class="col-lg-6">
        <textarea class="fill-available-width" name="message"></textarea>
      </div>
    </div>

    <!-- your other form fields go here -->
    <br />
    <br />

    <button type="submit" class="btn btn-primary">
      Send
    </button>
  </form>
  <br />
</div>
{% endblock %} {% block additional_js %}
<script src="/static/js/lines.js"></script>
{% endblock %}