<div
  class="custom-footer"
  style="
padding-top: 0px !important;"
>
  <!-- Footer Links -->
  <div class="container text-center">
    <div class="row">
      <div class="col-12 my-auto">
        <img
          class="logo"
          src="/static/img/Oxford-logo.png"
          alt="Logo of the University of Oxford"
        />
        <img
          class="logo"
          src="/static/img/gleamviz.png"
          alt="Logo of GleamViz"
        />
        <img
          class="logo"
          src="/static/img/australian_national_university.jpg"
          alt="Logo of Australian National University"
        />
        <img
          class="logo"
          src="/static/img/foretold.png"
          alt="Logo of Foretold"
        />
        <div class="disclaimer">
          The above displayed data and predictions are results of estimation and modelling. As of March 17, this is a demo, and while it runs on real data it will be a few days until it is properly vetted. Please <a href="/about">contact us</a> before using our data for major decisions.
        </div>
      </div>
    </div>
  </div>
</div>


