<h5>Region</h5>
<select id="selectButton" class="form-control medium" onchange="changeRegion()"> </select>
<hr />
<h5>Active Infections <span id="infections-date"></span></h5>
<div class="row mitigation-strenght">
  <div class="col-sm-auto col-xm-12">
    <table id="country-estimates">
      <thead>
        <th>Confirmed</th>
        <th>Estimated</th>
        <!--<th>90% CI</th>-->
        <th>Population</th>
      </thead>
      <tbody>
        <tr>
          <td id="infections-confirmed">&mdash;</td>
          <td id="infections-estimated">&mdash;</td>
          <!--<td id="infections-estimated-ci">&mdash;</td>-->
          <td id="infections-population">&mdash;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-auto col-xm-12 mitigation-strength">
    <button id="showInfections" onclick="showExplanation('showInfections','hideInfections','explanationInfections')"
      class="detail-button less-visible7">
      More detail <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
          clip-rule="evenodd" />
      </svg>
    </button>
    <button id="hideInfections" onclick="hideExplanation('showInfections','hideInfections','explanationInfections')"
      class="detail-button less-visible7" style="display: none;">
      Less detail <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>

</div>
<!-- Toggleable explanation-->
<div id="explanationInfections" class="row less-visible8" style="display: none;">
  <div class="col-12">
    <br>
    This counts number of people currently infected with COVID-19 (including those have not yet shown symptoms or are
    not
    yet infectious, but excluding those who have recovered or died).
    <br><br>
    <ul>
      <li><strong>Confirmed:</strong> The official count as reported by John Hopkins Coronavirus Resource Center.</li>
      <li><strong>Estimated:</strong> The true count, as estimated by our group of expert forecasters and statistical
        models (trying to correct for limited testing and misreporting).</li>
    </ul>
  </div>
</div>
<hr />
<h5>Global mitigation strength</h5>
<div class="btn-group-toggle" data-toggle="buttons">
  <div class="row mitigation-strenght">
    <div class="col-sm-auto col-xm-12">
      <label class="btn btn-secondary active beta-0">
        <input type="radio" name="mitigation" id="mitigation-none" autocomplete="off" onclick="updatePlot()" />
        None
      </label>
    </div>
    <div class="col-sm-auto col-xm-12">
      <label class="btn btn-secondary active beta-05">
        <input type="radio" name="mitigation" id="mitigation-weak" autocomplete="off" onclick="updatePlot()" />
        Weak
      </label>
    </div>
    <div class="col-sm-auto col-xm-12">
      <label class="btn btn-secondary active beta-04">
        <input type="radio" name="mitigation" id="mitigation-moderate" autocomplete="off" onclick="updatePlot()" />
        Moderate
      </label>
    </div>
    <div class="col-sm-auto col-xm-12">
      <label class="btn btn-secondary active beta-03">
        <input type="radio" name="mitigation" id="mitigation-strong" autocomplete="off" onclick="updatePlot()" />
        Strong
      </label>
    </div>
    <div class="col-sm-auto col-xm-12 mitigation-strength">
      <button id="showMitigation" onclick="showExplanation('showMitigation','hideMitigation','explanationMitigation')"
        class="detail-button less-visible7">
        More detail <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
            clip-rule="evenodd" />
        </svg>
      </button>
      <button id="hideMitigation" onclick="hideExplanation('showMitigation','hideMitigation','explanationMitigation')"
        class="detail-button less-visible7" style="display: none;">
        Less detail <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div>

  </div>
</div>

<!-- Toggleable explanation -->
<div id="explanationMitigation" class="row less-visible8" style="display: none;">
  <div class="col-12">
    We're modelling mitigation measures via their impact on effective transmission rate, since the same mitigation
    strength can be often achieved in multiple ways. For example, something roughly in the range of "weak mitigation"
    can be achieved either by closing schools and banning large gatherings (alone) or
    by compulsory wear of masks and widely adopted voluntary social distancing (alone).
    <br><br>
    The available mitigation levels are:
    <ul>
      <li><strong>None:</strong> Do nothing</li>
      <li><strong>Weak:</strong> Decrease of effective transmission rate by 20%</li>
      <li><strong>Moderate:</strong> Decrease of effective transmission rate by 50%</li>
      <li><strong>Strong:</strong> Decrease of effective transmission rate by 80%</li>
    </ul>
    <p>For comparison, in Wuhan the estimated reproduction number was ~3.5 before mitigation measures, and ~0.32 after
      implementation of all measures [...ref...]. This would correspond to a mitigation strength of ~90% — stronger than
      our &quot;Strong&quot; setting.</p>
  </div>
</div>

<p><i>Choose the aggregate effect on COVID-19 transmission rate, of all mitigation measures implemented globally (not
    just in <span class="selected-region"></span>).</i>
</p>


<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

<!-- Script for the behaviour of the toggleable explanation-->
<script>
  function showExplanation(showID, hideID, explanationID) {
    document.getElementById(showID).style.display = "none";
    document.getElementById(hideID).style.display = "block";
    document.getElementById(explanationID).style.display = "block";
  }
  function hideExplanation(showID, hideID, explanationID) {
    document.getElementById(showID).style.display = "block";
    document.getElementById(hideID).style.display = "none";
    document.getElementById(explanationID).style.display = "none";
  }
</script>
