{% extends "base.html" %} {% block title %} Model {% endblock title%} {% set
active_page = 'models' -%} {% block additional_js_pre %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"> </script>
<style type="text/css">
  .overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
  }

  .line .crosshair {
    fill: none;
    stroke-width: 1px;
  }

  .line .crosshair {
    stroke: white;
    opacity: 0.2
  }

  div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    color: #fff;
    background: #6c757d;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }
</style>
{% endblock %}
{% block content %}
<div>
  <br />
  <div class="row">
    <div class="col-lg-5 col-sm-12">
      <select id="selectButton" class="form-control large"> </select>
    </div>
    <div class="col-lg-6 col-sm-0"></div>
    <div class="col-lg-1 col-sm-12 population">
      <label class="row">Population</label>
      <div class="row medium">
        {{population | default("10,649,800")}}
      </div>
    </div>
  </div>
  <br />
  <hr />
  <br />

  <div class="row">
    <div style="
    margin-top: 8px;
    margin-right: 21px;
    font-size: 21px;">
      Select — Beta:
    </div>

    <div class="btn-group-toggle" data-toggle="buttons">
      <div class="row mitigation-strenght">
        <div class="col-sm-auto col-xm-12">
          <label class="btn btn-secondary active beta-0">
            <input type="radio" name="hours" id="hours" autocomplete="off" />
            0
          </label>
        </div>
        <div class="col-sm-auto col-xm-12">
          <label class="btn btn-secondary active beta-03">
            <input type="radio" name="hours" id="hours" autocomplete="off" />
            0.3
          </label>
        </div>
        <div class="col-sm-auto col-xm-12">
          <label class="btn btn-secondary active beta-04">
            <input type="radio" name="hours" id="hours" autocomplete="off" />
            0.4
          </label>
        </div>
        <div class="col-sm-auto col-xm-12">
          <label class="btn btn-secondary active beta-05">
            <input type="radio" name="hours" id="hours" autocomplete="off" />
            0.5
          </label>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    {{message | default("This mitigation option involves encouraging handwashing
    and good hygenic practices in the broader population.")}}
  </div>
  <br />
  <br />

  <!-- Create a div where the graph will take place -->
  <div id="my_dataviz"></div>

  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <h5 class="row">How the model works</h5>
      <div class="row">
        A simple POC for using bokeh to visualize modelled covid-19 data. Based
        on bokeh weather example.
      </div>
      <div class="row">
        There two main components: charts — using bokeh serve to serve bokeh
        charts in src/charts directory. webserver — a webserver using fastapi to
        render templates and embeds bokeh charts via the running charts bokeh
        server using JS scripts. That means that when you access the index site
        of the fastapi server, it generates the tag for the relevant chart.
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block additional_js %}
<script src="/static/js/lines.js"></script>
{% endblock %}