{% extends "base.html" %} {% block title %} Model {% endblock title%} {% set
active_page = 'models' -%} {% block additional_js_pre %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
<style type="text/css">
  .overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
  }

  .line .crosshair {
    fill: none;
    stroke-width: 1px;
  }

  .line .crosshair {
    stroke: white;
    opacity: 0.2;
  }

  div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    color: #fff;
    background: #01011a;
    border: 1px solid #212121;
    border-radius: 8px;
    pointer-events: none;
  }

  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
  }
  .svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
{% endblock %} {% block content %}

<div class="row">
  <div class="col-lg-8 col-xs-12">
    <h5>Location</h5>
    <select id="selectButton" class="form-control medium"> </select>
    <hr />
    <h5>Mitigation strength</h5>
    <div class="btn-group-toggle" data-toggle="buttons">
      <div class="row mitigation-strenght">
        <div class="col-sm-auto col-xm-12">
          <label class="btn btn-secondary active beta-0">
            <input
              type="radio"
              name="mitigation-none"
              id="mitigation-none"
              autocomplete="off"
            />
            None
          </label>
        </div>
        <div class="col-sm-auto col-xm-12">
          <label class="btn btn-secondary active beta-05">
            <input
              type="radio"
              name="mitigation-weak"
              id="mitigation-weak"
              autocomplete="off"
            />
            Weak
          </label>
        </div>
        <div class="col-sm-auto col-xm-12">
          <label class="btn btn-secondary active beta-04">
            <input
              type="radio"
              name="mitigation-moderate"
              id="mitigation-moderate"
              autocomplete="off"
            />
            Moderate
          </label>
        </div>
        <div class="col-sm-auto col-xm-12">
          <label class="btn btn-secondary active beta-03">
            <input
              type="radio"
              name="mitigation-strong"
              id="mitigation-strong"
              autocomplete="off"
            />
            Strong
          </label>
        </div>
      </div>
      {{message | default("Different global mitigation practices will change the
      rate of spread of COVID-19")}}
      <hr />
      <!-- Create a div where the graph will take place -->
      <div id="my_dataviz" class="svg-container"></div>
      <hr />
      <h5>How the model works</h5>
      <p><strong> Human forecasting</strong></p>
      <p>
        We are trying to augment data on confirmed cases by estimating the true
        number of infections in selected countries. This gets around issues of
        testing capacity and under-reporting in official statistics. This is
        done using a combination of statistical modelling and human forecasting.
      </p>
      <p><strong>Computational modelling</strong></p>
      <p>
        The results are used as an input to advanced epidemic modelling
        software, called
        <a href="[http://www.gleamviz.org/](http://www.gleamviz.org/">GLEaM</a>,
        running on high-performance computers.
      </p>
      <p>The global development of COVID-19 is simulated using:</p>
      <ul>
        <li>
          an airline booking dataset covering 3,800 commercial airports in about
          230 countries
        </li>
        <li>
          a commuting database covering over five million commuting connections
          within 40 countries
        </li>
        <li>multiple levels of global mitigation measures</li>
        <li>
          multiple models of SARS-CoV-2, capturing uncertainty about seasonality
          and transmissibility
        </li>
      </ul>
      <p>
        The results are displayed as a pack of trajectories, representing the
        uncertainty inherent in our model — and the difference in trajectory
        caused by the response of us as a society.
      </p>
      <p><strong> Database of containment measures</strong></p>
      <p>
        We are tracking the effectiveness of containments measures in a
        <a
          href="[https://www.notion.so/977d5e5be0434bf996704ec361ad621d?v=aa8e0c75520a479ea48f56cb4c289b7e](https://www.notion.so/977d5e5be0434bf996704ec361ad621d?v=aa8e0c75520a479ea48f56cb4c289b7e"
          >public database</a
        >
        with hundreds of entries. As more data becomes available on their
        effectiveness we will integrate them into the simulation.
      </p>
    </div>
  </div>
  <div id="containment_measures" class="col-lg-4 col-xs-12">
    <!-- filled with a js script from static/js/lines.js -->
  </div>
</div>

{% endblock %} {% block additional_js %}
<script src="{{ url_for('static', path='/js/lines.js') }}"></script>
{% endblock %}
