{% set navigation_bar = [ ('/',
'models', 'Models'), ('/case-map', 'case-map', 'Case map'),
('/request-calculation/', 'request-model', 'Request
model'), ('/about/', 'about', 'About') ] -%} {% set active_page =
active_page|default('index') -%}

<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <h1>
        <a href="/">Covid-19 Forecasting</a>
      </h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse pull-right nav-masthead justify-content-end" id="navbarText">
        <ul>
          {% for href, id, caption in navigation_bar %}
            <li>
              <a
                class="nav-link {% if id == active_page %}active{% endif %}"
                href="{{ href|e }}"
                id="{{id|e }}"
                >{{ caption|e }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
